.social-btn {
    width: 48px;
    height: 48px;
    margin-right: 0.5rem;
}

.social-btn:last-child {
    margin-right: 0;
}

.vk-btn {
    background: #5181b8 url("icons/vk-icon.svg") no-repeat center;
}

.vk-btn:hover,
.vk-btn:focus {
    background-color: #2a5885;
}

.fb-btn {
    background: #1877f2 url("icons/fb-icon.svg") no-repeat center;
    background-position-y: 8px;
}

.fb-btn:hover,
.fb-btn:focus {
    background-color: #0099e6;
}

.tw-btn {
    background: #1da0f1 url("icons/tw-icon.svg") no-repeat center;
}

.tw-btn:hover,
.tw-btn:focus {
    background-color: rgba(29,160,241,.85);
}

.ya-btn {
    background: #ED1F24 url("icons/ya-icon.svg") no-repeat center;
    background-size: contain;
}

.ya-btn:hover,
.ya-btn:focus {
    background-color: rgba(237,31,36,.85)
}