@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

body {
    padding-top: 3.5rem;
}

blockquote {
    border-left: .2em solid rgba(13,202,240,.8);
    padding-left: 1rem;
}

.form-check-input:focus {
    border-color: var(--bs-gray);
}

.form-check-input[type=checkbox]:indeterminate,
.form-check-input:checked {
    background-color: var(--bs-dark);
    border-color: var(--bs-dark);
}

.bg-dark .form-check-input:focus {
    box-shadow: 0 0 0 0.25rem rgba(248, 249, 250, .1);
    border-color: var(--bs-gray);
}

.bg-dark .form-check-input[type=checkbox]:indeterminate,
.bg-dark .form-check-input:checked {
    background-color: var(--bs-gray);
    border-color: var(--bs-gray);
}

.form-signup {
    width: 100%;
    max-width: 330px;
    margin: auto;
}

.likeBtn {
    padding: 0;
}

.likeBtn:focus {
    box-shadow: none;
}

.bg-dark .likeBtn:hover .bi-heart,
.bg-dark .likeBtn .bi-heart-fill {
    color: var(--bs-info);
}

.likeBtn .bi-heart,
.bg-dark .likeBtn .bi-heart,
.likeBtn:hover .bi-heart-fill {
    color: var(--bs-secondary);
}

.likeBtn:hover .bi-heart,
.likeBtn .bi-heart-fill {
    color: var(--bs-dark);
}

.tagsCloud {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: .8;
    text-align: center;
    text-transform: lowercase;
}

.tagsCloud a{
    text-decoration: none;
    opacity: .7;
    transition: 0.15s ease-out;
}

.tagsCloud a:hover{
    opacity: 1;
    transform: scale(1.1);
}

.bg-dark .likeBtn {
    color: var(--bs-secondary);
}

.bg-dark .likeBtn:hover,
.bg-dark .likeBtn:focus {
    color: var(--bs-light);
}

.social-btn {
    width: 48px;
    height: 48px;
    margin-right: 0.5rem;
}

.social-btn:last-child {
    margin-right: 0;
}

.vk-btn {
    background: #5181b8 url("./images/vk-icon.svg") no-repeat center;
}

.vk-btn:hover,
.vk-btn:focus {
    background-color: #2a5885;
}

.fb-btn {
    background: #1877f2 url("./images/fb-icon.svg") no-repeat center;
    background-position-y: 8px;
}

.fb-btn:hover,
.fb-btn:focus {
    background-color: #0099e6;
}

.tw-btn {
    background: #1da0f1 url("./images/tw-icon.svg") no-repeat center;
}

.tw-btn:hover,
.tw-btn:focus {
    background-color: rgba(29,160,241,.85);
}

.form-edit {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(33,37,41)" class="bi bi-pencil" viewBox="0 0 16 16"> <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/></svg>');
    padding: 0.375rem 2rem 0.375rem 0;
    margin: .3rem 0;
}
.form-edit:focus {
    cursor: auto;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(33,37,41)" class="bi bi-arrow-return-left" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/></svg>');
    padding: 0.375rem 2rem 0.375rem 0.375rem;
}

.bg-dark .form-edit {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(248,249,250)" class="bi bi-pencil" viewBox="0 0 16 16"> <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/></svg>');
}

.bg-dark .form-edit:focus {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(248,249,250)" class="bi bi-arrow-return-left" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/></svg>');
}

.bg-dark .form-control:focus,
.bg-dark .form-select:focus {
    border-color: var(--bs-gray);
    background-color: var(--bs-gray-dark)!important;
    box-shadow: 0 0 0 0.25rem rgba(248, 249, 250, .25);
}

.nofocus:hover,
.nofocus:focus {
    background-color: inherit!important;
}

.bg-gray-dark {
    background-color: var(--bs-gray-dark);
}

.chapter {
    padding-top: 65px;
    margin-top: -65px;
}

.dropzone {
    border-width: .15rem;
    border-style: dashed;
}

.thumb-inner .btn-close {
    display: none;
}

.thumb-inner:hover .btn-close {
    display: block;
}

.dragButton {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    cursor: grab;
    transition: opacity 0.15s linear;
    width: 30px;
    height: 30px;
}

.chapter:hover .dragButton,
.chapter:focus .dragButton {
    opacity: 1;
}

.nav-link.draggable {
    position: relative;
    padding-left: 1.25rem;
}

.draggable::before {
    position: absolute;
    display: block;
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgba(0,0,0,0.7)" class="bi bi-arrow-down-up" viewBox="0 0 16 16">  <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z"/></svg>');
    left: 0;
    top: .625rem;
    opacity: 0;
    transition: opacity 0.15s linear;
}

.draggable:hover::before {
    opacity: 1;
}

.bg-dark .draggable::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgba(255,255,255,0.75)" class="bi bi-arrow-down-up" viewBox="0 0 16 16">  <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z"/></svg>');
}

.commentWrapper {
    background-color: lavender;
}

.commentWrapper::before {
    display: block;
    content: "";
    position: absolute;
    top: -1rem;
    left: .5rem;
    width: 0;
    height: 0;
    border: .5rem solid transparent;
    border-bottom-color: lavender;
}

.bg-dark .commentWrapper {
    background-color: var(--bs-gray-dark);
}
.bg-dark .commentWrapper::before {
    border-bottom-color: var(--bs-gray-dark);
}


.sidebar-3 {
    position: static;
}

.nav-tabs .nav-link.active {
    background-color: var(--bs-light);
    border-bottom-color: var(--bs-light);
}

.bg-dark .nav-tabs .nav-link.active {
    background-color: var(--bs-dark);
    border-color: var(--bs-secondary);
    border-bottom-color: var(--bs-dark);
    color: var(--bs-light);
}

.bg-dark .nav-tabs {
    border-bottom-color: var(--bs-secondary);
}

.bg-dark .nav-tabs .nav-link:not(.active):hover,
.bg-dark .nav-tabs .nav-link:not(.active):focus {
    color: rgba(255,255,255,.7);
    border-color: transparent;
}

.bg-dark .nav-tabs .nav-link {
    color: var(--bs-secondary);
}

@media (min-width: 992px) {
    .sidebar-3 {
        width: calc(960px/4);
        position: fixed;
    }
}

@media (min-width: 1200px) {
    .sidebar-3 {
        width: calc(1140px/4);
    }
}

@media (min-width: 1400px) {
    .sidebar-3 {
        width: calc(1320px/4);
    }
}