@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

body {
    padding-top: 3.5rem;
}

.form-check-input:focus {
    border-color: var(--bs-gray);
}

.form-check-input[type=checkbox]:indeterminate,
.form-check-input:checked {
    background-color: var(--bs-dark);
    border-color: var(--bs-dark);
}

.bg-dark .form-check-input:focus {
    box-shadow: 0 0 0 0.25rem rgba(248, 249, 250, .1);
    border-color: var(--bs-gray);
}

.bg-dark .form-check-input[type=checkbox]:indeterminate,
.bg-dark .form-check-input:checked {
    background-color: var(--bs-gray);
    border-color: var(--bs-gray);
}

.form-signup {
    width: 100%;
    max-width: 330px;
    margin: auto;
}

.social-btn {
    width: 48px;
    height: 48px;
    margin-right: 0.5rem;
}

.social-btn:last-child {
    margin-right: 0;
}

.vk-btn {
    background: #5181b8 url("./images/vk-icon.svg") no-repeat center;
}

.vk-btn:hover,
.vk-btn:focus {
    background-color: #2a5885;
}

.fb-btn {
    background: #1877f2 url("./images/fb-icon.svg") no-repeat center;
    background-position-y: 8px;
}

.fb-btn:hover,
.fb-btn:focus {
    background-color: #0099e6;
}

.tw-btn {
    background: #1da0f1 url("./images/tw-icon.svg") no-repeat center;
}

.tw-btn:hover,
.tw-btn:focus {
    background-color: rgba(29,160,241,.85);
}

.form-edit {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(33,37,41)" class="bi bi-pencil" viewBox="0 0 16 16"> <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/></svg>');
    padding: 0.375rem 2rem 0.375rem 0;
    margin: .3rem 0;
}
.form-edit:focus {
    cursor: auto;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(33,37,41)" class="bi bi-arrow-return-left" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/></svg>');
    padding: 0.375rem 2rem 0.375rem 0.375rem;
}

.bg-dark .form-edit {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(248,249,250)" class="bi bi-pencil" viewBox="0 0 16 16"> <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/></svg>');
}

.bg-dark .form-edit:focus {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(248,249,250)" class="bi bi-arrow-return-left" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/></svg>');
}

.bg-dark .form-control:focus,
.bg-dark .form-select:focus {
    border-color: var(--bs-gray);
    background-color: var(--bs-gray-dark)!important;
    box-shadow: 0 0 0 0.25rem rgba(248, 249, 250, .25);
}

.bg-dark .btn-close {
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    opacity: 0.5;
}

.bg-dark .btn-close:hover {
    opacity: 0.75;
}

.bg-dark .btn-close:focus {
    box-shadow: 0 0 0 0.25rem rgba(248, 249, 250, .25)
}


.nofocus:hover,
.nofocus:focus {
    background-color: inherit!important;
}

.bg-gray-dark {
    background-color: var(--bs-gray-dark);
}

.multiselect .select__control {
    border-color: #ced4da;
    cursor: text;
}

.multiselect .select__control:hover
{
    border-color: #ced4da;
}

.multiselect .select__control--is-focused,
.multiselect .select__control--menu-is-open,
.multiselect .select__control--is-focused:hover,
.multiselect .select__control--menu-is-open:hover
{
    border-color: #86b7fe;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25);
}

.bg-dark .select__control {
    background-color: var(--bs-gray-dark)!important;
    border-color: var(--bs-gray)!important;
    color: var(--bs-light)!important;
}

.bg-dark .select__control--is-focused,
.bg-dark .select__control--menu-is-open
{
    border-color: var(--bs-gray)!important;
    box-shadow: 0 0 0 0.25rem rgba(248, 249, 250, .25)!important;
}

.bg-dark .select__control:hover
{
    border-color: var(--bs-gray)!important;
}

.bg-dark .select__menu {
    color: var(--bs-dark);
    background-color: var(--bs-light)!important;
}

.select__indicator {
    cursor: pointer;
}

.bg-dark .form-select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23f8f9fa' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}




.sidebar-3 {
    position: static;
}


@media (min-width: 992px) {
    .sidebar-3 {
        width: calc(960px/4);
        position: fixed;
    }
}

@media (min-width: 1200px) {
    .sidebar-3 {
        width: calc(1140px/4);
    }
}

@media (min-width: 1400px) {
    .sidebar-3 {
        width: calc(1320px/4);
    }
}