.ais-Highlight-highlighted {
    background-color: rgba(13,202,240,.25);
    font-style: normal;
}

button.searchBtnInput {
    min-width: 200px;
    text-align: start;
    cursor: text!important;
}

.bg-dark .searchBtnInput:focus {
    box-shadow: 0 0 0 0.25rem rgba(248, 249, 250, .25);
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

form[role="search"] button:hover {
    color: var(--bs-secondary)
}

form[role="search"] button:disabled {
    opacity: 1;
    color: var(--bs-light)!important;
}

.bg-dark form[role="search"] button:disabled {
    color: var(--bs-gray-dark)!important;
}

.modal-body::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    display: none;
}
.modal-body::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: var(--bs-gray-dark);
}

.modal-body .list-group li:last-child>a {
    border-bottom: none!important;
}